<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Hi! my name is Boston Wyatt. I'm studying software engineering.</p>

    <h2>Hobbies & Interests</h2>
    <ul>
        <li>Coding personal projects</li>
        <li>Making small video games</li>
        <li>Building computers</li>
    </ul>

    <img src="/images/loml_25.jpg" alt="Picture of me" />
</main>
<%- include('partials/footer') %>
